{% extends 'mainapp/base.html' %}
{% load user_date_time %}
{% load random_search_param %}

{% block content %}
{% include 'mainapp/include/main_menu.html'%}


<div class="container-md">


<div class="row">

  <div class="col-lg-8">
    {% for _ in range %}
      <div class="card my-2">
        <div class="card-body">
          <h5 class="card-title">{{ card_title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ card_date_time|user_date_time }}</h6>
          <p class="card-text">{{ card_short_text|truncatechars:60 }}</p>
          <a href="#" class="card-link">Подробнее</a>
        </div>
      </div>
    {% endfor %}
<!--    Task 6 start-->
    {% for post in posts %}
      <div class="card my-2">
        <div class="card-body">
          <h5 class="card-title">{{ post.title|truncatewords:8 }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ card_date_time|user_date_time }}</h6>
          <p class="card-text">{{ post.short_text|truncatechars:150 }}</p>
          <a href="#" class="card-link">Подробнее</a>
        </div>
      </div>
    {% endfor %}
<!--    Task 6 end-->
<!--    Task 7 start-->
    <div class="card my-2">
      <div class="card-body">
        <h5 class="card-title">{{ posts.0.title|truncatewords:8 }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ card_date_time|user_date_time }}</h6>
        <p class="card-text">{{ posts.0.short_text|truncatechars:150|random_search_param }}</p>
        <a href="#" class="card-link">Подробнее</a>
      </div>
    </div>
<!--Task 7 end-->

  </div>

  <div class="col-lg-4">
    <div class="card my-2 sticky-top">
      <div class="card-header">
        Фильтры
      </div>
      <div class="card-body">
        <form action="">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Дата от...</span>
            </div>
            <input type="date" class="form-control" name="dateFrom">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Дата до...</span>
            </div>
            <input type="date" class="form-control" name="dateTo">
          </div>

          <button type="submit" class="btn btn-primary btn-block">Фильтровать</button>
        </form>
      </div>
    </div>
  </div>

</div>

{% include 'mainapp/include/main_pagination.html' %}

</div>

{% include 'mainapp/include/main_footer.html'%}
{% endblock content %}
